.obrazok img{
    height:60px;
    margin-right: 10px;
}

.nadpis-dbtsp {
    font-size: 200%;
    color: #696969;
    font-weight: bold;
    font-family: 'DM Serif Text', serif;
}

.nadpis-dbtsp:hover{
    color: #008080;
}


.menu li a{
    font-family: 'DM Serif Text', serif;
    font-size: 120%;
    font-weight: bold;
    color:#808080;
}

.menu li a:hover{
    color:#5f9ea0;
}

.active {
    color: #008080;
    border-bottom: 3px solid #808080;
}

.nav-item:hover {
    border-bottom: 3px solid #5f9ea0;
}

.logo2{
    margin-top: 20px;
    width: 50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.basnicka{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: large;
}

.video {
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}


.telo{
    background-color: #5f9ea0;
}

.text{
    font-size: 18px;
    line-height: 28px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #696969;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5;
}

.nadpis-prop{
    font-weight: bold;
}

.parkovanieObr{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.table{
    margin-left: 8.5%;
}

@media screen and (max-width: 991px) {
    .table {
        margin-left: 0;
        display: block;
    }

    .nadpis-dbtsp {
        font-size: 200%;
    }

    .logo2 {
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }
}


.back-button{
    margin-top: 20px;
    display: block;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}


.nadpis{
    font-weight: bold;
    margin-bottom: 10px;
}


.sipky-spolu{
    display: block;
    margin-left:80%;
    margin-bottom: 30px;
}


.sipky{
    height:40px;
    width:auto;

}

.sipka:hover{

    background-color: #a6a6a6 ;

}

