.obrazok img{
    height:60px;
    weight:auto;
    margin-right: 10px;
}

.nadpis-dbtsp {
    font-size: 200%;
    color: dimgrey;
    font-weight: bold;
    font-family: 'DM Serif Text', serif;
}

.nadpis-dbtsp:hover{
    color: teal;
}


.menu li a{
    font-family: 'DM Serif Text', serif;
    font-size: 120%;
    font-weight: bold;
    color:grey;
}

.menu li a:hover{
    color:cadetblue;
}

.active {
    color: teal;
    border-bottom: 3px solid gray;
}

.nav-item:hover {
    border-bottom: 3px solid cadetblue;
}

.logo2{
    margin-top: 20px;
    width: 50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.basnicka{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: large;
}

.video {
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 991px) {
    [class*="logo2"] {
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }
}

.telo{
    background-color: cadetblue;
}

.text-propozicie{
    font-size: 18px;
    line-height: 28px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.nadpis-prop{
    font-weight: bold;
}

.parkovanieObr{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.table{
    margin-left: 8.5%;
}

@media only screen and (max-width: 991px) {
    [class*="table"] {
        margin-left: 0%;
        display: block;
    }

    .nadpis-dbtsp {
        font-size: 200%;
    }
}

.back-button{
    margin-top: 20px;
    display: block;
    height: 70px;
    alignment: center;
    margin-left: auto;
    margin-right: auto;
}


.nadpis{
    font-weight: bold;
    margin-bottom: 10px;
}

.textVysledky{
    font-size: 18px;
    line-height: 28px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.sipky-spolu{
    display: block;
    margin-left:80%;
    margin-bottom: 30px;
}


.sipky{
    height:40px;
    width:auto;

}

.sipka:hover{

    background-color: gray ;
    opacity: 40%;
}

